body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url('home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.button {
    background-color: #3498db;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    color: seashell;
    transition: color 0.3s ease;
}